.about-us__wrapper {
  width: 50%;
  min-width: 282px;
  margin: 0 auto;	
}

.about-us__title {
  margin: 23px 0;
  font-family: "PlayfairDisplay", serif;
  text-align: center;
  color: #2d2829;
}

.about-us__inner {
  display: grid;
  grid-template-columns: 152px 1fr;
  column-gap: 40px;
  grid-template-areas: "picture social"
    "about about";
}

.about-us__image-wrapper {
  width: 152px;
  height: 151px;  
  grid-area: picture;
  position: relative;
  border-radius: 50%;
  background-color: #32313d;
  overflow: hidden;  
}

.about-us__image {
  position: absolute;
  left: -10%;
}

.about-us__social {
  width: 36px;
  margin: 0;
  padding: 0;
  grid-area: social;
}

.about-us__social-link {
  width: 36px;
  height: 36px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50%;
  &:hover {
    border-radius: 50%;	
    box-shadow: 0px 2px 7.04px 0.96px rgba(255, 0, 67, 0.2);
  }
}

.about-us__social-icon {
  fill: $bg-pink;
  stroke: $bg-pink;
}

.about-us__confectioner {
  grid-area: about;
}

.about-us__subtitle {
  margin: 0;
  padding-top: 14px;
  font-family: "IntroScriptR-H2Base";
  font-size: 22px;
  font-weight: normal;
  color: #32313d;
}

.about-us__text {
  min-width: 282px;
  margin: 0;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 16px;
  &::first-line {
    font-weight: bold;
    line-height: 32px;
  }
}

.about-us__quote {
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "PlayfairDisplay", serif;
  font-size: 13px;
  font-style: italic;
  letter-spacing: 0.01em;
  text-align: center;
  &::before {
    content: "’’";
    height: 48px;
    margin: 0;
    margin-top: 16px;
    display: block;
    font-size: 462%;
    font-style: normal;
    color: #fffefe;
  }
}

.about-us__signature {
  width: 64px;
  height: 31px;
  margin: 0 auto;
  background-image: url(../img/signature_320.png);
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .about-us__wrapper {
    width: 675px;
  }
  
  .about-us__title {
    margin: 0;
    font-size: 28px;
    text-align: left;
  }
  
  .about-us__inner {
    margin-bottom: 7px;
    grid-template-columns: 328px 1fr;
    row-gap: 12px;
    grid-template-areas: "about picture"
    "social picture";
  }
  
  .about-us__image-wrapper {
    width: 313px;
    height: 311px;
    margin-top: -14%;
  }
  
  .about-us__image {
    left: -35%;
  }
  
  .about-us__social {
    display: flex;
    padding-left: 0;
  }
  
  .about-us__social-item {
    margin-right: 19px;
    display: inline-block;
  }

  .about-us__social-link {
    margin-bottom: 0;
  }
  
  .about-us__subtitle {
    padding-top: 5px;
    font-size: 26px;
  }
  
  .about-us__text {
    width: 328px;
    margin-bottom: 6px;
    &::first-line {
      font-size: 15px;
    }
  }
  
  .about-us__quote {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 145%;
    &::before {
      margin: 0;
      margin-bottom: 20px;
      font-size: 550%;
      line-height: normal;
    }
  }
  
  .about-us__signature {
    width: 82px;
    height: 40px;
    background-image: url(../img/signature_768.png);
  }
}

@media (min-width: $desktop-width) {  
  .about-us__wrapper {
    width: 1222px;
  }
  
  .about-us__title {
    font-size: 40px;
  }

  .about-us__inner {
    grid-template-columns: 580px 1fr;
    grid-template-rows: 326px 1fr;
    column-gap: 60px;
    row-gap: 0;
  }
  
  .about-us__image-wrapper {
    width: 509px;
    height: 510px;
    margin-top: -65px;
  }
  
  .about-us__social {
    margin-top: 5px;
  }
  
  .about-us__subtitle {
    padding-top: 22px;
    font-size: 35px;
  }

  .about-us__social-item {
    margin-right: 18px;
  }
    
  .about-us__text {
    width: 580px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 24px;
    &::first-line {
      font-size: 20px;
    }
  }
  
  .about-us__quote {
    max-width: 650px;
    margin-bottom: 48px;
    font-size: 25px;
    line-height: 148%;
    &::before {
      margin-top: 63px;
      margin-bottom: 72px;
      font-size: 140px;
    }
  }
  
  .about-us__signature {
    width: 149px;
    height: 73px;
    background-image: url(../img/signature_1366.png);
  }
}
